#user {
    display: flex;
    align-items: center;
    border: 1px solid green;
    padding: 10px;
    margin: 10px 0;
    background: lightgreen;
    justify-content: space-between;
    border-radius: 5px;
}

#text {
    border: 1px solid black;
    background: white;
    color: grey;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

* {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#name {
    font-weight: bold;
    color: grey;
}

button {
    border: none;
    border-radius: 10px;
    padding: 7.5px;
    color: whitesmoke;
    background: green;
    cursor: pointer;
}

#delete {
    background: red;
    margin-left: 20px;
}